beautifulsoup4
colorama
fuzzywuzzy
httpx
joblib
lxml
mitmproxy
numpy
pandas
psutil
pymetasploit3
python-levenshtein
python-nmap
requests
scikit-learn
tld
validators
notebook
matplotlib
seaborn
scipy
pickle5
tensorflow
keras
xgboost
lightgbm
tqdm
pyyaml
python-dateutil
pytest
pytest-cov
jupyter
ipykernel